*{
    box-sizing: border-box;
}

footer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    /* border: 1px solid grey; */
}

#footer{
    margin: 0px auto;
    padding: 0px auto;
}

.container{
    margin: 20px auto;
}

.carousel-inner img {
    width: 100%;
    /* height: 100%; */
}

