<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
            <ul class="item-list">
                <li>
                  <a class="item-link" href="/allproduct">DANH MỤC SẢN PHẨM</a>
                </li>
                <li>
                  <a class="item-link" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    Màu vẽ <span class="dropdown-toggle"></span>
                  </a>

                  <div id="collapse1" class="panel-collapse collapse" *ngFor="let list1 of lists1">
                    <div class="panel-body">{{list1.name}}</div>
                  </div>
                </li>
                <li>
                  <a class="item-link" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    Bút - Mực<span class="dropdown-toggle"></span>
                  </a>
                  <div id="collapse2" class="panel-collapse collapse" *ngFor="let list2 of lists2">
                    <div class="panel-body">{{list2.name}}</div>
                  </div>
                </li>
              </ul>
        </div>
      </div>
      <div class="col-sm-9">
          <div class="row pt-0">
            <div class="col-sm-4 mb-4" *ngFor="let list2 of lists2">
              <a class="card" href="/product">              
                <img class="card-img-top" src="assets/img/2.jpg" alt="#">
                <div class="card-footer">
                  <p class="card-text">{{list2.name}}</p>
                  <h6 class="card-text">25.000 VND</h6>
                </div>
              </a>
            </div>
          </div>
       
      </div>
    </div>
</div>