*{
    box-sizing: border-box;
}

nav{
    z-index: 3;
    background-color: #4269AF;
}

a.nav-link{
    text-align: center;
    padding: 0px;
}

i.material-icons, i{
    display: block;
    align-items: center;
    font-size: 24px;
    text-align: center;
}

li.nav-item{
    max-width: 100px;
}

a{
    color: white;
}

#brandname{
    height: 38px;
}

.navbar-brand{
    height: 100%;
}

.navbar-toggler-icon, .navbar-toggler{
    border-color: white;
}

@media (max-width: 575.98px) {
    .form-inline{
        max-width: 150px;
    }
}

