*{
    box-sizing: border-box;
}

.container{
    height:calc(100vh - 74px);
    padding: 20px 15px;
}

.card{
    padding: 20px;
}

button {
    width: 150px;
    margin: 10px 20px;
}

.loginbox{
    align-self: center;
}