<div class="container">
  <div class="card">
    <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>
    <div class="loginbox" *ngIf="!(authService.user | async)">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Username</span>
        </div>
        <input type="email" [(ngModel)]="email" class="form-control" placeholder="Email..." aria-label="Email" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Password</span>
        </div>
        <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password..." aria-label="Password" aria-describedby="basic-addon1">
      </div>  
      <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary" (click)="signup()" [disabled]="!email || !password">Signup</button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-success" (click)="login()" [disabled]="!email || !password">Login</button>
        </div>
      </div>   
    </div>

    <button class="btn btn-warning" (click)="logout()" *ngIf="authService.user | async">Logout</button>
  </div>

  
</div>